<script type="text/template" id='TextItemTemplate'>
  <div class='row'>
    <div class='span6 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'>{{text}}<br /><br /></span>
        <span class='light'>Posted {{created_at}}</span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-thumbs-up' style='margin-top: 5px'></i></a></span><br />
      </div>
    </div>
    <div class='span2' style='margin-top: -20px'>
      {{#refeed}}
        <span class='light'>Refeeded by <a href="#">{{feeder.name}}</a></span><br /><br />
      {{/refeed}}
    </div>
  </div>
</script>

<script type="text/template" id='TwitterFeedItemTemplate'>
  <div class='row'>
    <div class='span6 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'>{{content}}<br /><br /></span>
        <span class='light'>Posted {{created_at}} via <a href='http://www.twitter.com'>Twitter</a></span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-thumbs-up' style='margin-top: 5px'></i></a></span><br />
      </div>
    </div>
    <div class='span1'><img src='/assets/twitter_128.png'></img></div>
    <div class='span2' style='margin-top: -20px'>
      {{#refeed}}
        <span class='light'>Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      {{/refeed}}
    </div>
  </div>
</script>

<script type="text/template" id='GithubFeedItemTemplate'>
  <div class='row'>
    <div class='span6 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'>{{content}}<br /><br /></span>
        <span class='light'>Posted {{created_at}} via <a href='http://www.github.com'>GitHub</a></span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-thumbs-up' style='margin-top: 5px'></i></a></span><br />
      </div>
    </div>
    <div class='span1'><img src='/assets/github_128.png'></img></div>
    <div class='span2' style='margin-top: -20px'>
      {{#refeed}}
        <span class='light'>Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      {{/refeed}}
    </div>
  </div>
</script>

<script type="text/template" id='ImageItemTemplate'>
  <div class='row'>
    <div class='span6 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <img src="{{image_url}}" style='padding: 10px 0px'></img><br />
        <span class='text-message'>{{comment}}<br /><br /></span>
        <span class='light'>Posted {{created_at}}</span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-thumbs-up' style='margin-top: 5px'></i></a></span><br />
      </div>
    </div>
    <div class='span2' style='margin-top: -20px'>
      {{#refeed}}
        <span class='light'>Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      {{/refeed}}
    </div>
  </div>
</script>  

<script type="text/template" id='LinkItemTemplate'>
  <div class='row'>
    <div class='span6 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <span class='text-message'><a href='{{link_url}}'>{{link_url}}</a><br /></span>
        <span class='text-message'>{{text}}<br /><br /></span>
        <span class='light'>Posted {{created_at}}</span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-thumbs-up' style='margin-top: 5px'></i></a></span><br />
      </div>
    </div>
    <div class='span2' style='margin-top: -20px'>
      {{#refeed}}
        <span class='light'>Refeeded by <a href="#">{{feeder.name}}</a></span><br /><br />
      {{/refeed}}
    </div>
  </div>
</script>

<script type="text/template" id='InstagramFeedItemTemplate'>
  <div class='row'>
    <div class='span6 well'>
      <div class='span1' style='margin-left: -3px'>
        <img src="{{avatar}}" style='height: 75px'></img> 
      </div>
      <div class='span4'>
        {{#refeed}}
          <span class='display-name'><a href="#">{{refeeder.display_name}}</a></span><br />
        {{/refeed}}
        {{^refeed}}
          <span class='display-name'><a href="#">{{feeder.name}}</a></span><br />
        {{/refeed}}
        <img src="{{image_url}}" style='padding: 10px 0px'></img><br />
        <span class='text-message'>{{comment}}<br /><br /></span>
        <span class='light'>Posted {{created_at}} via <a href='http://instagr.am/'>Instagram</a></span><br />
      </div>
      <div class='icons' style='float: right'>
        {{#refeedable}}
          <span style=''><a href='#' class='refeed_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-retweet'></i></a></span><br />
        {{/refeedable}}
          <span><a href='#' class='points_link' data-id='{{id}}' data-user="{{feeder.name}}"><i class='icon-thumbs-up' style='margin-top: 5px'></i></a></span><br />
      </div>
    </div>
    <div class='span1'><img src='/assets/instagram_128.png'></img></div>
    <div class='span2' style='margin-top: -20px'>
      {{#refeed}}
        <span class='light'>Refeeded by <a href="#">{{feeder.name}}</a></span><br />
      {{/refeed}}
    </div>
  </div>
</script>  